<h3>Select Team then User Story</h3>
<select [(ngModel)]="selectedLevel" (change)="selected()">
    <option *ngFor="let item of teamdata" [ngValue]="item">{{item.name}}</option>
</select>

<p></p>
<p>
  <button type="button" class="btn btn-primary" (click)="myFunc()">UserStory 1</button>

  <img src="assets/home.png" width="100" height="40" class="rounded float-right">

</p>
<p>
  <button type="button" class="btn btn-primary" (click)="myFunc2()">UserStory 2</button><br>
</p>
<p>
  <button type="button" class="btn btn-primary" (click)="myFunc3()">UserStory 3</button><br>
</p>
<p>
  <button type="button" class="btn btn-primary" (click)="myFunc4()">UserStory 4</button><br>
</p>
<p>
  <button type="button" class="btn btn-primary" (click)="myFunc5()">UserStory 5</button><br>
</p>
<p>
  <button type="button" class="btn btn-primary" (click)="myFunc8()">UserStory 8</button><br>
 </p> 

    

  <p></p>

  <div *ngIf="userStory===1">
    <ul class="list group">

      <li class="list-group-item">
        Prediction of win in next round is: {{ winPrediction | number: '2.2-5'}} % 
      </li>
    </ul>

  </div>

  <div *ngIf="userStory===2">


    <ul class="list group">

      <li class="list-group-item">
        Results of All games played so far in 2019
      </li>
      <li class="list-group-item">

        Round:
        <ng-container *ngFor='let item of allResults | slice:0:1; let i = index'>
          {{item}}
        </ng-container>
        Winner:
        <ng-container *ngFor='let item of allResults | slice:1:2; let i = index'>
          <strong> {{item}} </strong>
        </ng-container>
        Details:
        <ng-container *ngFor='let item of allResults | slice:2:10; let i = index'>
          {{item}}
        </ng-container>

      </li>


      <li class="list-group-item">
        Round:
        <ng-container *ngFor='let item of allResults | slice:10:11; let i = index'>
          {{item}}
        </ng-container>
        Winner:
        <ng-container *ngFor='let item of allResults | slice:11:12; let i = index'>
          <strong> {{item}} </strong>
        </ng-container>
        Details:
        <ng-container *ngFor='let item of allResults | slice:12:20; let i = index'>
          {{item}}
        </ng-container>
      </li>
      <li class="list-group-item">
        Round:
        <ng-container *ngFor='let item of allResults | slice:20:21; let i = index'>
          {{item}}
        </ng-container>
        Winner:
        <ng-container *ngFor='let item of allResults | slice:21:22; let i = index'>
          <strong> {{item}} </strong>
        </ng-container>
        Details:
        <ng-container *ngFor='let item of allResults | slice:22:30; let i = index'>
          {{item}}
        </ng-container>
      </li>
      <li class="list-group-item">
        Round:
        <ng-container *ngFor='let item of allResults | slice:30:31; let i = index'>
          {{item}}
        </ng-container>
        Winner:
        <ng-container *ngFor='let item of allResults | slice:31:32; let i = index'>
          <strong> {{item}} </strong>
        </ng-container>
        Details:
        <ng-container *ngFor='let item of allResults | slice:32:40; let i = index'>
          {{item}}
        </ng-container>
      </li>
      <li class="list-group-item">
        Round:
        <ng-container *ngFor='let item of allResults | slice:40:41; let i = index'>
          {{item}}
        </ng-container>
        Winner:
        <ng-container *ngFor='let item of allResults | slice:41:42; let i = index'>
          <strong> {{item}} </strong>
        </ng-container>
        Details:
        <ng-container *ngFor='let item of allResults | slice:42:50; let i = index'>
          {{item}}
        </ng-container>
      </li>
      <li class="list-group-item">
        Round:
        <ng-container *ngFor='let item of allResults | slice:50:51; let i = index'>
          {{item}}
        </ng-container>
        Winner:
        <ng-container *ngFor='let item of allResults | slice:51:52; let i = index'>
          <strong> {{item}} </strong>
        </ng-container>
        Details:
        <ng-container *ngFor='let item of allResults | slice:52:60; let i = index'>
          {{item}}
        </ng-container>
      </li>
      <li class="list-group-item">
        Round:
        <ng-container *ngFor='let item of allResults | slice:60:61; let i = index'>
          {{item}}
        </ng-container>
        Winner:
        <ng-container *ngFor='let item of allResults | slice:61:62; let i = index'>
          <strong> {{item}} </strong>
        </ng-container>
        Details:
        <ng-container *ngFor='let item of allResults | slice:62:70; let i = index'>
          {{item}}
        </ng-container>
      </li>
      <li class="list-group-item">
        Round:
        <ng-container *ngFor='let item of allResults | slice:70:71; let i = index'>
          {{item}}
        </ng-container>
        Winner:
        <ng-container *ngFor='let item of allResults | slice:71:72; let i = index'>
          <strong> {{item}} </strong>
        </ng-container>
        Details:
        <ng-container *ngFor='let item of allResults | slice:72:80; let i = index'>
          {{item}}
        </ng-container>
      </li>
      <li class="list-group-item">
        Round:
        <ng-container *ngFor='let item of allResults | slice:80:81; let i = index'>
          {{item}}
        </ng-container>
        Winner:
        <ng-container *ngFor='let item of allResults | slice:81:82; let i = index'>
          <strong> {{item}} </strong>
        </ng-container>
        Details:
        <ng-container *ngFor='let item of allResults | slice:82:90; let i = index'>
          {{item}}
        </ng-container>
      </li>




    </ul>



  </div>


  <div *ngIf="userStory===3">

    <ul class="list group">
      <li class="list-group-item">
        Next 5 Games in 2019
      </li>
      
      <li class="list-group-item">
        Round:
        <ng-container *ngFor='let item2 of allNextGames | slice:4:5; let j = index'>
          {{item2}}
        </ng-container>

        <ng-container *ngFor='let item2 of allNextGames | slice:5:6; let j = index'>
          {{item2}}
        </ng-container>

        <ng-container *ngFor='let item2 of allNextGames | slice:6:7; let j = index'>
          {{item2}}
        </ng-container>

        <ng-container *ngFor='let item2 of allNextGames | slice:7:8; let j = index'>
          {{item2}}
        </ng-container>
      </li>
      <li class="list-group-item">
        Round:
        <ng-container *ngFor='let item2 of allNextGames | slice:8:9; let j = index'>
          {{item2}}
        </ng-container>

        <ng-container *ngFor='let item2 of allNextGames | slice:9:10; let j = index'>
          {{item2}}
        </ng-container>

        <ng-container *ngFor='let item2 of allNextGames | slice:10:11; let j = index'>
          {{item2}}
        </ng-container>

        <ng-container *ngFor='let item2 of allNextGames | slice:11:12; let j = index'>
          {{item2}}
        </ng-container>
      </li>
      <li class="list-group-item">
        Round:
        <ng-container *ngFor='let item2 of allNextGames | slice:12:13; let j = index'>
          {{item2}}
        </ng-container>

        <ng-container *ngFor='let item2 of allNextGames | slice:13:14; let j = index'>
          {{item2}}
        </ng-container>

        <ng-container *ngFor='let item2 of allNextGames | slice:14:15; let j = index'>
          {{item2}}
        </ng-container>

        <ng-container *ngFor='let item2 of allNextGames | slice:15:16; let j = index'>
          {{item2}}
        </ng-container>
      </li>
      <li class="list-group-item">
        Round:
        <ng-container *ngFor='let item2 of allNextGames | slice:16:17; let j = index'>
          {{item2}}
        </ng-container>

        <ng-container *ngFor='let item2 of allNextGames | slice:17:18; let j = index'>
          {{item2}}
        </ng-container>

        <ng-container *ngFor='let item2 of allNextGames | slice:18:19; let j = index'>
          {{item2}}
        </ng-container>

        <ng-container *ngFor='let item2 of allNextGames | slice:19:20; let j = index'>
          {{item2}}
        </ng-container>
      </li>
      <li class="list-group-item">
        Round:
        <ng-container *ngFor='let item2 of allNextGames | slice:20:21; let j = index'>
          {{item2}}
        </ng-container>

        <ng-container *ngFor='let item2 of allNextGames | slice:21:22; let j = index'>
          {{item2}}
        </ng-container>

        <ng-container *ngFor='let item2 of allNextGames | slice:22:23; let j = index'>
          {{item2}}
        </ng-container>

        <ng-container *ngFor='let item2 of allNextGames | slice:23:24; let j = index'>
          {{item2}}
        </ng-container>
      </li>
    </ul>
  </div>


  <div *ngIf="userStory===4">

    <ul class="list group">

      <li class="list-group-item">
        Results of Home Games in 2019
      </li>
      <li class="list-group-item">
        Round:
        <ng-container *ngFor='let item of allHosted | slice:0:1; let i = index'>
          {{item}}
        </ng-container>
        Winner:
        <ng-container *ngFor='let item of allHosted | slice:1:2; let i = index'>
          <strong> {{item}} </strong>
        </ng-container>
        Details:
        <ng-container *ngFor='let item of allHosted | slice:2:10; let i = index'>
          {{item}}
        </ng-container>


      </li>
      <li class="list-group-item">
        Round:
        <ng-container *ngFor='let item of allHosted | slice:10:11; let i = index'>
          {{item}}
        </ng-container>
        Winner:
        <ng-container *ngFor='let item of allHosted | slice:11:12; let i = index'>
          <strong> {{item}} </strong>
        </ng-container>
        Details:
        <ng-container *ngFor='let item of allHosted | slice:12:20; let i = index'>
          {{item}}
        </ng-container>
      </li>
      <li class="list-group-item">
        Round:
        <ng-container *ngFor='let item of allHosted | slice:20:21; let i = index'>
          {{item}}
        </ng-container>
        Winner:
        <ng-container *ngFor='let item of allHosted | slice:21:22; let i = index'>
          <strong> {{item}} </strong>
        </ng-container>
        Details:
        <ng-container *ngFor='let item of allHosted | slice:22:30; let i = index'>
          {{item}}
        </ng-container>
      </li>
      <li class="list-group-item">
        Round:
        <ng-container *ngFor='let item of allHosted | slice:30:31; let i = index'>
          {{item}}
        </ng-container>
        Winner:
        <ng-container *ngFor='let item of allHosted | slice:31:32; let i = index'>
          <strong> {{item}} </strong>
        </ng-container>
        Details:
        <ng-container *ngFor='let item of allHosted | slice:32:40; let i = index'>
          {{item}}
        </ng-container>
      </li>
      <!--
        <li class="list-group-item">
        Round:
        <ng-container *ngFor='let item of allHosted | slice:40:41; let i = index'>
          {{item}}
        </ng-container>
        Winner:
        <ng-container *ngFor='let item of allHosted | slice:41:42; let i = index'>
          {{item}}
        </ng-container>
        Details:
        <ng-container *ngFor='let item of allHosted | slice:42:50; let i = index'>
          {{item}}
        </ng-container>
        </li>
        <li class="list-group-item">
        Round:
        <ng-container *ngFor='let item of allHosted | slice:50:51; let i = index'>
          {{item}}
        </ng-container>
        Winner:
        <ng-container *ngFor='let item of allHosted | slice:51:52; let i = index'>
          {{item}}
        </ng-container>
        Details:
        <ng-container *ngFor='let item of allHosted | slice:52:60; let i = index'>
          {{item}}
        </ng-container>
        </li>
      -->
    </ul>


  </div>

  <div *ngIf="userStory===5">

    <ul class="list group">
      <li class="list-group-item">
        Results versus Rival in 2019
      </li>
      <li class="list-group-item">
        Round:
        <ng-container *ngFor='let item of allRival | slice:0:1; let i = index'>
          {{item}}
        </ng-container>
        Winner:
        <ng-container *ngFor='let item of allRival | slice:1:2; let i = index'>
          <strong> {{item}} </strong>
        </ng-container>
        Details:
        <ng-container *ngFor='let item of allRival | slice:2:10; let i = index'>
          {{item}}
        </ng-container>
        </li>
        <!--
        <li class="list-group-item">
        Round:
        <ng-container *ngFor='let item of allRival | slice:10:11; let i = index'>
          {{item}}
        </ng-container>
        Winner:
        <ng-container *ngFor='let item of allRival | slice:11:12; let i = index'>
          {{item}}
        </ng-container>
        Details:
        <ng-container *ngFor='let item of allRival | slice:12:20; let i = index'>
          {{item}}
        </ng-container>
        </li>-->
        </ul>

  </div>

  <div *ngIf="userStory===8">
    Round:
    <ng-container *ngFor='let item of allHosted | slice:0:1; let i = index'>
      {{item}}
    </ng-container>
    Winner:
    <ng-container *ngFor='let item of allHosted | slice:1:2; let i = index'>
      {{item}}
    </ng-container>
    Details:
    <ng-container *ngFor='let item of allHosted | slice:2:10; let i = index'>
      {{item}}
    </ng-container>


    <br>
    Round:
    <ng-container *ngFor='let item of allHosted | slice:10:11; let i = index'>
      {{item}}
    </ng-container>
    Winner:
    <ng-container *ngFor='let item of allHosted | slice:11:12; let i = index'>
      {{item}}
    </ng-container>
    Details:
    <ng-container *ngFor='let item of allHosted | slice:12:20; let i = index'>
      {{item}}
    </ng-container>

    <br>
    Round:
    <ng-container *ngFor='let item of allHosted | slice:20:21; let i = index'>
      {{item}}
    </ng-container>
    Winner:
    <ng-container *ngFor='let item of allHosted | slice:21:22; let i = index'>
      {{item}}
    </ng-container>
    Details:
    <ng-container *ngFor='let item of allHosted | slice:22:30; let i = index'>
      {{item}}
    </ng-container>

    <br>
    Round:
    <ng-container *ngFor='let item of allHosted | slice:30:31; let i = index'>
      {{item}}
    </ng-container>
    Winner:
    <ng-container *ngFor='let item of allHosted | slice:31:32; let i = index'>
      {{item}}
    </ng-container>
    Details:
    <ng-container *ngFor='let item of allHosted | slice:32:40; let i = index'>
      {{item}}
    </ng-container>

    <br>
    Round:
    <ng-container *ngFor='let item of allHosted | slice:40:41; let i = index'>
      {{item}}
    </ng-container>
    Winner:
    <ng-container *ngFor='let item of allHosted | slice:41:42; let i = index'>
      {{item}}
    </ng-container>
    Details:
    <ng-container *ngFor='let item of allHosted | slice:42:50; let i = index'>
      {{item}}
    </ng-container>

    <br>
    Round:
    <ng-container *ngFor='let item of allHosted | slice:50:51; let i = index'>
      {{item}}
    </ng-container>
    Winner:
    <ng-container *ngFor='let item of allHosted | slice:51:52; let i = index'>
      {{item}}
    </ng-container>
    Details:
    <ng-container *ngFor='let item of allHosted | slice:52:60; let i = index'>
      {{item}}
    </ng-container>

    
    
  </div>

  <div class="text-center">
    <img src="assets/afl.jpg" class="rounded">
  </div>